@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(to right, #dae2f8, #d6a4a4); 
    /* background: linear-gradient(to right, #96b5dae2, #85c5c4c4, #e8b2c9); */
    color: #333; 
    margin: 0; 
    padding: 0; 
}